Repository Golem-Base/rust-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, taplo-validate

cargo-fmt:
  name: cargo fmt
  entry: cargo
  args:
  - fmt
  - --all
  - --
  - --check
  language: system

cargo-clippy:
  name: cargo clippy
  entry: cargo
  args:
  - clippy
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

taplo-validate:
  name: Taplo TOML validate
  entry: taplo
  args:
  - check
  language: system

chore: editorconfig: indent nix code by two spaces
  .editorconfig
Due: none

chore: avoid importing multiple versions of nixpkgs
  flake.lock
  flake.nix
Due: none

chore: format flake.nix
  flake.nix
Due: none

chore: pre-allocate vectors with the right capacity where possible
  api/src/api.rs
  src/eth.rs
  tests/test_entity_operations.rs
Due: cargo-fmt, cargo-clippy

feat: split a read-only GolemBaseRoClient out of GolemBaseClient
  demo/src/main.rs
  src/client.rs
  src/lib.rs
  src/rpc.rs
Due: cargo-fmt, cargo-clippy

chore: use the solidity ABI to parse transaction logs
  src/client.rs
Due: cargo-fmt, cargo-clippy

demo: show how to extend an entity
  demo/src/main.rs
Due: cargo-fmt, cargo-clippy

demo: show how to subscribe to golem-base events
  Cargo.lock
  demo/Cargo.toml
  demo/src/main.rs
Due: cargo-fmt, cargo-clippy, taplo-validate

demo: print a more descriptive error when the private key is missing
  demo/src/main.rs
Due: cargo-fmt, cargo-clippy

feat: improve tx log parsing to be more robust
  src/client.rs
  src/entity.rs
  src/eth.rs
  src/events.rs
Due: cargo-fmt, cargo-clippy

chore: deduplicate receipt handling
  src/account.rs
  src/client.rs
  src/entity.rs
  src/eth.rs
Due: cargo-fmt, cargo-clippy

deploy: dc03b9e89348a8b1835b78a91a0a2c3e9ff5a794
  rvdp/dev/golem_base_sdk/account/fn.get_receipt.html
  rvdp/dev/golem_base_sdk/account/fn.golem_base_storage_entity_btl_extended.html
  rvdp/dev/golem_base_sdk/account/index.html
  rvdp/dev/golem_base_sdk/account/sidebar-items.js
  rvdp/dev/golem_base_sdk/account/struct.Account.html
  rvdp/dev/golem_base_sdk/all.html
  rvdp/dev/golem_base_sdk/client/index.html
  rvdp/dev/golem_base_sdk/client/struct.GolemBaseClient.html
  rvdp/dev/golem_base_sdk/client/struct.GolemBaseClientBuilder.html
  rvdp/dev/golem_base_sdk/client/struct.GolemBaseRoClient.html
  rvdp/dev/golem_base_sdk/client/struct.GolemBaseRoClientBuilder.html
  rvdp/dev/golem_base_sdk/client/struct.NonceManager.html
  rvdp/dev/golem_base_sdk/client/struct.TransactionConfig.html
  rvdp/dev/golem_base_sdk/entity/index.html
  rvdp/dev/golem_base_sdk/entity/struct.Annotation.html
  rvdp/dev/golem_base_sdk/entity/struct.Create.html
  rvdp/dev/golem_base_sdk/entity/struct.DeleteResult.html
  rvdp/dev/golem_base_sdk/entity/struct.Entity.html
  rvdp/dev/golem_base_sdk/entity/struct.EntityResult.html
  rvdp/dev/golem_base_sdk/entity/struct.Extend.html
  rvdp/dev/golem_base_sdk/entity/struct.ExtendResult.html
  rvdp/dev/golem_base_sdk/entity/struct.GolemBaseTransaction.html
  rvdp/dev/golem_base_sdk/entity/struct.TransactionResult.html
  rvdp/dev/golem_base_sdk/entity/struct.Update.html
  rvdp/dev/golem_base_sdk/entity/type.GolemBaseDelete.html
  rvdp/dev/golem_base_sdk/entity/type.Hash.html
  rvdp/dev/golem_base_sdk/entity/type.Key.html
  rvdp/dev/golem_base_sdk/entity/type.NumericAnnotation.html
  rvdp/dev/golem_base_sdk/entity/type.StringAnnotation.html
  rvdp/dev/golem_base_sdk/eth/index.html
  rvdp/dev/search-index.js
  rvdp/dev/search.desc/golem_base_sdk/golem_base_sdk-desc-0-.js
  rvdp/dev/src/golem_base_sdk/account.rs.html
  rvdp/dev/src/golem_base_sdk/client.rs.html
  rvdp/dev/src/golem_base_sdk/entity.rs.html
  rvdp/dev/src/golem_base_sdk/eth.rs.html
  rvdp/dev/trait.impl/core/convert/trait.TryFrom.js
  rvdp/dev/type.impl/golem_base_sdk/entity/struct.Annotation.js
Due: none

chore: mark one of the two duplicate storage address consts as deprecated
  src/account.rs
  src/events.rs
Due: cargo-fmt, cargo-clippy

deploy: bf9804ae219c794375c83bea54ffe10c5ea3d653
  rvdp/dev/golem_base_sdk/account/constant.GOLEM_BASE_STORAGE_PROCESSOR_ADDRESS.html
  rvdp/dev/golem_base_sdk/account/fn.get_receipt.html
  rvdp/dev/golem_base_sdk/account/index.html
  rvdp/dev/golem_base_sdk/account/struct.Account.html
  rvdp/dev/golem_base_sdk/account/struct.TransactionChannel.html
  rvdp/dev/golem_base_sdk/events/enum.Event.html
  rvdp/dev/golem_base_sdk/events/index.html
  rvdp/dev/golem_base_sdk/events/struct.EventsClient.html
  rvdp/dev/search-index.js
  rvdp/dev/src/golem_base_sdk/account.rs.html
  rvdp/dev/src/golem_base_sdk/events.rs.html
Due: none

ci: un-ignore skipped tests
  tests/test_events.rs
  tests/test_query.rs
Due: cargo-fmt, cargo-clippy

fix: test_query_entities
  src/client.rs
  tests/test_query.rs
Due: cargo-fmt, cargo-clippy

chore: deprecate GolemBaseClient::new and update usages
  cli/src/main.rs
  examples/yagna_interaction.rs
  src/client.rs
  tests/test_accounts.rs
  tests/test_custom_signer.rs
  tests/test_entity_operations.rs
  tests/test_events.rs
Due: cargo-fmt, cargo-clippy

ci: ignore test_event_listening*
  tests/test_events.rs
Due: cargo-fmt, cargo-clippy

ci: add a test for the HTTP REST API CLI
  .github/workflows/demo.yml
  .github/workflows/setup/action.yml
  .github/workflows/test_api.sh
Due: none

WIP
  tests/test_query.rs
Due: cargo-fmt, cargo-clippy

ci
  .github/workflows/demo.yml
Due: none

deploy: 5652fa4aa931658834c13bbcba25f563199d8a42
  rvdp/dev/type.impl/alloy_signer_local/struct.LocalSigner.js
Due: none

deploy: 4af606c55a40ebe37ac8e8b647d2a7aa6be63ebe
  rvdp/dev/help.html
  rvdp/dev/settings.html
Due: none

deploy: 62a5e4cea0d660771f6507bd26da1b3c95381477
  rvdp/dev/crates.js
  rvdp/dev/golem_base_sdk/all.html
  rvdp/dev/golem_base_sdk/client/index.html
  rvdp/dev/golem_base_sdk/client/sidebar-items.js
  rvdp/dev/golem_base_sdk/client/struct.GolemBaseClient.html
  rvdp/dev/golem_base_sdk/client/struct.GolemBaseClientBuilder.html
  rvdp/dev/golem_base_sdk/client/struct.GolemBaseRoClient.html
  rvdp/dev/golem_base_sdk/client/struct.GolemBaseRoClientBuilder.html
  rvdp/dev/golem_base_sdk/client/struct.TransactionConfig.html
  rvdp/dev/golem_base_sdk/entity/index.html
  rvdp/dev/golem_base_sdk/entity/struct.Extend.html
  rvdp/dev/golem_base_sdk/entity/struct.GolemBaseTransaction.html
  rvdp/dev/golem_base_test_utils/all.html
  rvdp/dev/golem_base_test_utils/constant.GOLEM_BASE_URL.html
  rvdp/dev/golem_base_test_utils/constant.GOLEM_BASE_WS_URL.html
  rvdp/dev/golem_base_test_utils/constant.TEST_TTL.html
  rvdp/dev/golem_base_test_utils/fn.get_client.html
  rvdp/dev/golem_base_test_utils/index.html
  rvdp/dev/golem_base_test_utils/sidebar-items.js
  rvdp/dev/help.html
  rvdp/dev/search-index.js
  rvdp/dev/search.desc/golem_base_sdk/golem_base_sdk-desc-0-.js
  rvdp/dev/search.desc/golem_base_test_utils/golem_base_test_utils-desc-0-.js
  rvdp/dev/settings.html
  rvdp/dev/src-files.js
  rvdp/dev/src/golem_base_sdk/client.rs.html
  rvdp/dev/src/golem_base_sdk/entity.rs.html
  rvdp/dev/src/golem_base_test_utils/lib.rs.html
  rvdp/dev/trait.impl/core/clone/trait.Clone.js
  rvdp/dev/trait.impl/core/default/trait.Default.js
  rvdp/dev/trait.impl/core/fmt/trait.Debug.js
  rvdp/dev/trait.impl/core/marker/trait.Freeze.js
  rvdp/dev/trait.impl/core/marker/trait.Send.js
  rvdp/dev/trait.impl/core/marker/trait.Sync.js
  rvdp/dev/trait.impl/core/marker/trait.Unpin.js
  rvdp/dev/trait.impl/core/panic/unwind_safe/trait.RefUnwindSafe.js
  rvdp/dev/trait.impl/core/panic/unwind_safe/trait.UnwindSafe.js
Due: none

deploy: 224f15da48a041d0928cdf15d4092d63777859e4
  rvdp/tx_gas/help.html
  rvdp/tx_gas/settings.html
Due: none

Simplify the events test
  src/entity.rs
  tests/test_entity_operations.rs
  tests/test_events.rs
Due: cargo-fmt, cargo-clippy

flake.lock: Update
  flake.lock
Due: none

chore: pull out the account-centric SDK used for yagna, it will go into its own repo
  .editorconfig
  .github/workflows/demo.yml
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  cli/Cargo.toml
  cli/README.md
  cli/src/main.rs
  demo/Cargo.lock
  demo/Cargo.toml
  examples/offer.json
  examples/yagna_interaction.rs
  flake.lock
  flake.nix
  src/account.rs
  src/client.rs
  src/lib.rs
  src/signers.rs
  test-utils/Cargo.toml
  test-utils/src/lib.rs
  tests/test_accounts.rs
  tests/test_custom_signer.rs
  tests/test_entity_operations.rs
  tests/test_events.rs
  tests/test_query.rs
Due: cargo-fmt, cargo-clippy, taplo-validate

chore: ci: also run on stacked PRs
  .github/workflows/demo.yml
Due: none

feat: allow specifying gas parameters for transactions
  src/entity.rs
  src/eth.rs
  tests/test_entity_operations.rs
Due: cargo-fmt, cargo-clippy

chore: bump version to 0.4.0
  Cargo.toml
Due: taplo-validate

chore: Bump cargo deps
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  test-utils/Cargo.toml
Due: taplo-validate

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  taplo-validate: any of: \.toml$
