Repository Golem-Base/rust-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, taplo-validate

cargo-fmt:
  name: cargo fmt
  entry: cargo
  args:
  - fmt
  - --all
  - --
  - --check
  language: system

cargo-clippy:
  name: cargo clippy
  entry: cargo
  args:
  - clippy
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

taplo-validate:
  name: Taplo TOML validate
  entry: taplo
  args:
  - check
  language: system

Rename `ttl` to `btl`
  demo/src/main.rs
  src/account.rs
  src/entity.rs
  src/eth.rs
Due: cargo-fmt, cargo-clippy

Make GitHub Action CI Rust version in sync with `./rust-toolchain`
  .github/workflows/demo.yml
  .github/workflows/setup/action.yml
Due: none

Rework SDK doc comments and make CI publish it as gh-pages
  .github/workflows/demo.yml
  .github/workflows/setup/action.yml
  .pre-commit-config.yaml
  README.md
  flake.nix
  src/account.rs
  src/client.rs
  src/entity.rs
  src/eth.rs
  src/events.rs
  src/lib.rs
  src/rpc.rs
  src/signers.rs
  src/utils.rs
Due: cargo-fmt, cargo-clippy

deploy: ec9993a64d23925b0282a746976c733b8e09fad7
  better-docs/src/golem_base_sdk/lib.rs.html
Due: none

v0.2.0
  Cargo.lock
  Cargo.toml
Due: taplo-validate

Reproduce problem with simultanous entity creation
  tests/test_entity_operations.rs
Due: cargo-fmt, cargo-clippy

Add a `NonceManager` to handle correctly concurent ETH transactions
  src/client.rs
  src/eth.rs
Due: cargo-fmt, cargo-clippy

Add a short "Contributing" section to README
  README.md
Due: none

Update Cargo.toml
  Cargo.toml
Due: taplo-validate

test5.holesky
  demo/src/main.rs
  test-utils/src/lib.rs
Due: cargo-fmt, cargo-clippy

kaolin.holesky
  demo/src/main.rs
  test-utils/src/lib.rs
Due: cargo-fmt, cargo-clippy

Implement waiting for arbitrary transaction not created by client
  src/account.rs
  src/client.rs
Due: cargo-fmt, cargo-clippy

deploy: 30a86f3e281207854cf9b837aa9df50dfe34cf8f
  golem_base_sdk/account/fn.get_receipt.html
  golem_base_sdk/account/index.html
  golem_base_sdk/account/sidebar-items.js
  golem_base_sdk/account/struct.Account.html
  golem_base_sdk/all.html
  golem_base_sdk/client/index.html
  golem_base_sdk/client/struct.GolemBaseClient.html
  search-index.js
  search.desc/golem_base_sdk/golem_base_sdk-desc-0-.js
  src/golem_base_sdk/account.rs.html
  src/golem_base_sdk/client.rs.html
Due: none

Only comment PR with docs URL on pull_request events
  .github/workflows/demo.yml
Due: none

Only push docs on gh-pages branch on pull_request events
  .github/workflows/demo.yml
Due: none

Explain limitations of nonce management in `create_raw_transaction`
  src/eth.rs
Due: cargo-fmt, cargo-clippy

deploy: 03a6e58c681be3ff7a9aab564eef8b4766319678
  better-nonces-management/golem_base_sdk/client/index.html
  better-nonces-management/golem_base_sdk/client/struct.GolemBaseClient.html
  better-nonces-management/golem_base_sdk/eth/index.html
  better-nonces-management/src/golem_base_sdk/client.rs.html
  better-nonces-management/src/golem_base_sdk/eth.rs.html
Due: none

Use client provider consistently in `create_raw_transaction`
  src/client.rs
  src/eth.rs
Due: cargo-fmt, cargo-clippy

Better compute gaz price in eth transactions
  src/eth.rs
Due: cargo-fmt, cargo-clippy

Bump rust version and edition because it's required by `alloy_sol_types` macros
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  examples/yagna_interaction.rs
  rust-toolchain
  src/account.rs
  src/client.rs
  src/eth.rs
  src/events.rs
  src/lib.rs
  src/rpc.rs
  src/signers.rs
  tests/test_accounts.rs
  tests/test_custom_signer.rs
  tests/test_entity_operations.rs
  tests/test_events.rs
  tests/test_query.rs
Due: cargo-fmt, cargo-clippy, taplo-validate

Define Solidity abi contracts for cleaner transaction receipt parsing
  src/eth.rs
Due: cargo-fmt, cargo-clippy

Revert "Only push docs on gh-pages branch on pull_request events"
  .github/workflows/demo.yml
Due: none

Dropping support of old test nets
  src/eth.rs
Due: cargo-fmt, cargo-clippy

v0.3.0
  Cargo.lock
  Cargo.toml
Due: taplo-validate

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  taplo-validate: any of: \.toml$
