Repository Golem-Base/rust-sdk: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, taplo-validate

cargo-fmt:
  name: cargo fmt
  entry: cargo
  args:
  - fmt
  - --all
  - --
  - --check
  language: system

cargo-clippy:
  name: cargo clippy
  entry: cargo
  args:
  - clippy
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

taplo-validate:
  name: Taplo TOML validate
  entry: taplo
  args:
  - check
  language: system

chores: remove HTTP REST API CLI
  Cargo.lock
  Cargo.toml
  api/Cargo.toml
  api/src/api.rs
  api/src/main.rs
Due: cargo-fmt, cargo-clippy, taplo-validate

Add more mock blockchain internals
  Cargo.lock
  test-utils/golem-base-mock/Cargo.toml
  test-utils/golem-base-mock/src/api.rs
  test-utils/golem-base-mock/src/blockchain.rs
  test-utils/golem-base-mock/src/entity_db.rs
  test-utils/golem-base-mock/src/execution.rs
  test-utils/golem-base-mock/src/lib.rs
  test-utils/golem-base-mock/src/server.rs
  test-utils/golem-base-mock/src/transaction_pool.rs
  test-utils/golem-base-mock/tests/test_golem_base_mock.rs
Due: cargo-fmt, cargo-clippy, taplo-validate

Start execution engine; produce blocks
  Cargo.lock
  test-utils/golem-base-mock/Cargo.toml
  test-utils/golem-base-mock/src/api.rs
  test-utils/golem-base-mock/src/block.rs
  test-utils/golem-base-mock/src/blockchain.rs
  test-utils/golem-base-mock/src/execution.rs
  test-utils/golem-base-mock/src/lib.rs
  test-utils/golem-base-mock/src/server.rs
  test-utils/golem-base-mock/src/transaction_pool.rs
  test-utils/golem-base-mock/tests/test_golem_base_mock.rs
Due: cargo-fmt, cargo-clippy, taplo-validate

Implement transaction endpoint
  test-utils/golem-base-mock/src/api.rs
  test-utils/golem-base-mock/src/block.rs
  test-utils/golem-base-mock/src/blockchain.rs
  test-utils/golem-base-mock/src/lib.rs
  test-utils/golem-base-mock/src/transaction_pool.rs
Due: cargo-fmt, cargo-clippy

Transaction signing using managed account
  test-utils/golem-base-mock/src/api.rs
  test-utils/golem-base-mock/src/block.rs
  test-utils/golem-base-mock/src/lib.rs
  test-utils/golem-base-mock/src/managed_accounts.rs
  test-utils/golem-base-mock/src/server.rs
  test-utils/golem-base-mock/tests/test_golem_base_mock.rs
Due: cargo-fmt, cargo-clippy

GetTransactionReceipt doesn't check tx in pool
  test-utils/golem-base-mock/Cargo.toml
  test-utils/golem-base-mock/src/blockchain.rs
  test-utils/golem-base-mock/src/execution.rs
  test-utils/golem-base-mock/src/lib.rs
  test-utils/golem-base-mock/tests/test_golem_base_mock.rs
Due: cargo-fmt, cargo-clippy, taplo-validate

wip replace private.key with wallet.json
  Cargo.toml
  test-utils/src/lib.rs
Due: cargo-fmt, cargo-clippy, taplo-validate

Creating entity partially works (needs transaction logs)
  test-utils/golem-base-mock/src/block.rs
Due: cargo-fmt, cargo-clippy

Add, update, prolong and remove entities
  .cursor/rules/coding-guidelines.mdc
  test-utils/golem-base-mock/src/blockchain.rs
  test-utils/golem-base-mock/src/entity_db.rs
  test-utils/golem-base-mock/src/execution.rs
Due: cargo-fmt, cargo-clippy

Produce logs in TransactionReceipt
  test-utils/golem-base-mock/src/block.rs
  test-utils/golem-base-mock/src/blockchain.rs
  test-utils/golem-base-mock/src/lib.rs
Due: cargo-fmt, cargo-clippy

Add test to check storage value
  test-utils/golem-base-mock/tests/test_golem_base_mock.rs
Due: cargo-fmt, cargo-clippy

do some dependency management, update test-utils to use the keystore
  Cargo.lock
  Cargo.toml
  src/entity.rs
  src/eth.rs
  src/events.rs
  src/rpc.rs
  test-utils/Cargo.toml
  test-utils/src/lib.rs
Due: cargo-fmt, cargo-clippy, taplo-validate

get password from terminal or stdin pipe
  demo/src/main.rs
Due: cargo-fmt, cargo-clippy

fix: `rust-toolchain` and `crane` use in flake
  .github/workflows/demo.yml
  .github/workflows/setup/action.yml
  .pre-commit-config.yaml
  .rust-toolchain.toml
  .taplo.toml
  demo/src/main.rs
  flake.lock
  flake.nix
  rust-toolchain
  src/entity.rs
  src/eth.rs
  src/events.rs
  src/lib.rs
  src/rpc.rs
  test-utils/Cargo.toml
  tests/test_entity_operations.rs
  tests/test_query.rs
Due: cargo-fmt, cargo-clippy, taplo-validate

deploy: 285fc72d9421aac31ccacc32f72b60276c736ee3
  eureka-cpu/19/golem_base_sdk_demo/fn.log_num_of_entities_owned.html
  eureka-cpu/19/help.html
  eureka-cpu/19/settings.html
Due: none

Create tools for quering and parsing queries
  .cursor/rules/coding-guidelines.mdc
  Cargo.lock
  src/rpc.rs
  test-utils/golem-base-mock/Cargo.toml
  test-utils/golem-base-mock/src/api.rs
  test-utils/golem-base-mock/src/entity_db.rs
  test-utils/golem-base-mock/src/lib.rs
  test-utils/golem-base-mock/src/query_parser.rs
Due: cargo-fmt, cargo-clippy, taplo-validate

Full path off mock works (fund, create entity, query)
  .github/workflows/demo.yml
  src/rpc.rs
  test-utils/golem-base-mock/src/api.rs
  test-utils/golem-base-mock/src/entity_db.rs
  test-utils/golem-base-mock/tests/test_golem_base_mock.rs
Due: cargo-fmt, cargo-clippy

Run mock tests in serial
  Cargo.lock
  test-utils/golem-base-mock/Cargo.toml
  test-utils/golem-base-mock/tests/test_golem_base_mock.rs
Due: cargo-fmt, cargo-clippy, taplo-validate

update readme
  README.md
Due: none

deploy: 0ca0c100014ee3174058fab2238442527c193d13
  eureka-cpu/create-wallet/golem_base_sdk/index.html
  eureka-cpu/create-wallet/help.html
  eureka-cpu/create-wallet/settings.html
Due: none

Use ResilientProvider in all rpc calls
  src/resilient_provider.rs
  src/rpc.rs
Due: cargo-fmt, cargo-clippy

Create struct handling mock server logic
  Cargo.lock
  src/rpc.rs
  test-utils/golem-base-mock/Cargo.toml
  test-utils/golem-base-mock/src/lib.rs
  test-utils/golem-base-mock/src/server.rs
  test-utils/golem-base-mock/tests/test_golem_base_mock.rs
Due: cargo-fmt, cargo-clippy, taplo-validate

Implement first part of overrides logic
  Cargo.lock
  Cargo.toml
  test-utils/golem-base-mock/Cargo.toml
  test-utils/golem-base-mock/src/controller.rs
  test-utils/golem-base-mock/src/lib.rs
  test-utils/src/lib.rs
  tests/test_transaction_logic.rs
Due: cargo-fmt, cargo-clippy, taplo-validate

Test for checking if ResilientClient retries rpc call
  test-utils/golem-base-mock/src/controller.rs
  test-utils/golem-base-mock/src/lib.rs
  test-utils/golem-base-mock/src/server.rs
  test-utils/src/lib.rs
  tests/test_resilient_client.rs
Due: cargo-fmt, cargo-clippy

Complete test checkign for error sending request
  tests/test_resilient_client.rs
Due: cargo-fmt, cargo-clippy

Test resilience to no healthy backend
  src/resilient_provider.rs
  tests/test_resilient_client.rs
Due: cargo-fmt, cargo-clippy

Fix docs comments compilation
  test-utils/golem-base-mock/src/lib.rs
Due: cargo-fmt, cargo-clippy

Test Once override callback waiting
  test-utils/golem-base-mock/src/controller.rs
  test-utils/golem-base-mock/tests/test_golem_base_mock.rs
Due: cargo-fmt, cargo-clippy

Test concurrent entities creation
  tests/test_entity_operations.rs
  tests/test_sdk.rs
Due: cargo-fmt, cargo-clippy

Stress test sending transaction logic with regular errors
  .github/workflows/demo.yml
  src/account.rs
  src/entity.rs
  test-utils/golem-base-mock/src/controller.rs
  test-utils/golem-base-mock/src/lib.rs
  tests/test_transaction_logic.rs
Due: cargo-fmt, cargo-clippy

Attempt to simplify logic
  src/account.rs
  src/resilient_provider.rs
  tests/test_transaction_logic.rs
Due: cargo-fmt, cargo-clippy

Use tracing for async logging
  Cargo.lock
  Cargo.toml
  demo/Cargo.toml
  demo/src/main.rs
  src/eth.rs
  src/events.rs
  src/rpc.rs
  test-utils/Cargo.toml
  tests/test_entity_operations.rs
  tests/test_query.rs
Due: cargo-fmt, cargo-clippy, taplo-validate

Create function for waiting for transactions to be indexed
  src/account.rs
  src/resilient_provider.rs
Due: cargo-fmt, cargo-clippy

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  taplo-validate: any of: \.toml$
